.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel picture img {
  width: 100%;
  height: auto;
}

.carousel h3,
.carousel p {
  margin: 0;
  padding: 10px;
}