/*.twoitems.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.twoitems.block > div {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  position: relative;
}

.twoitems.block picture {
  position: relative;
  overflow: hidden;
}

.twoitems.block picture:hover + .card-entry {
  opacity: 1;
  transform: translateY(-80%);
}

.card-entry {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.35s, opacity 0.35s;
  transform: translateY(100%);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.card-entry > div {
  flex-basis: 45%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card-entry > div:first-child {
  margin-right: 20px;
}

.card-entry > div > div:first-child {
  margin-bottom: 10px;
}

.card-entry > div > div:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.card-entry > div > div:last-child {
  font-size: 14px;
  color: #555;
}*/

.twoitems.block picture {
  position: relative;
  overflow: hidden;
}

.twoitems.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.twoitems.block > div {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  position: relative;
}

.card-entry {
  position: absolute;
  bottom: -112px;
  left: 0;
  max-width: 87.5%;
  background-color: #f5f5f5;
  border-radius: 10px;
/*  padding: 20px;*/
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
/*  transition: transform 0.35s;*/
/*  transform: translateY(100%);*/
  text-align: left;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    -o-transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s;
    transition: opacity .35s,transform .35s,-webkit-transform .35s;
    -webkit-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
  opacity: 0;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.twoitems.block:hover .card-entry {
  opacity: 1;
  transform: translateY(-80%);
}

/*.card-entry > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
.card-entry > div {
  /*flex-basis: 45%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;*/
    display: flex;
  justify-content: space-between;
/*  align-items: center;*/
  margin-bottom: 20px;
}

.card-entry > div:first-child {
  margin-right: 20px;
}

.card-entry > div > div:first-child {
  margin-bottom: 10px;
}

.card-entry > div > div:nth-child(2) {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.card-entry > div > div:last-child {
  font-size: 14px;
  color: #555;
}